.kitty-1{
  position: absolute;
  z-index: 3;
  top: 180px;
  right: 390px;
}

#kitty-2{
  position: absolute;
  z-index: 1;
  top: 170px;
  left: 190px;
}

#basket .kitty-3{
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 10px;
}

/* Select the image based on it being a sibling that follows immediately after the element with an id of ball (using adjacent sibling selector) */
#ball + img {
  position: absolute;
  z-index: 4;
  top: 220px;
  left: 300px;
}

/* Select the image that has an alt attribute value matching "Kitty 5" (using attribute selector) */
img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px;
}
